# ML Introduction

In [1]:
import pandas as pd

In [2]:
fish_dataset = pd.read_csv("https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S24/main/regression/data/Fish.csv")

fish_dataset

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

### Task 1

1. Split the dataset randomly into training (70%) and testing (30%) sets.

2. Apply the following models:

   - Linear Regression 

   - Random Forest 

   - XGBoost

3. Calculate RMSE (Root Mean Squared Error) and ùëÖ2 (Coefficient of Determination) on the test set.

4. Visualize the predictions by plotting y_pred vs y_real and compare the performance of the models.

5. Provide your opinion on which metric, RMSE or ùëÖ2, is more appropriate in this case.

### Task 2

1. Change the training-test split to ensure that each species has 70% of its samples in the training set and 30% in the test set.

2. Repeat steps 2, 3, 4, from Task 1.

### Comparison

1. Compare the results obtained from Task 1 and Task 2.

### Extra Point

1. point out which parameters can be adjusted in this exercise to improve model performance. (dont need to run analysis again)